:root {
    /* Color */
    --color-red-10000: #2d0709;
    --color-red-900: #520408;
    --color-red-800: #750e13;
    --color-red-700: #a2191f;
    --color-red-600: #da1e28;
    --color-red-500: #fa4d56;
    --color-red-400: #ff8389;
    --color-red-300: #ffb3b8;
    --color-red-200: #ffd7d9;
    --color-red-100: #fff1f1;
    --color-yellow-300: #f1c21b;
    --color-yellow-400: #d2a106;
    --color-yellow-500: #b28600;
    --color-orange-300: #ff832b;
    --color-orange-400: #ba4e00;
    --color-orange-500: #8a3800;
    --color-magenta-10000: #2a0a18;
    --color-magenta-900: #510224;
    --color-magenta-800: #740937;
    --color-magenta-700: #9f1853;
    --color-magenta-600: #d02670;
    --color-magenta-500: #ee5396;
    --color-magenta-400: #ff7eb6;
    --color-magenta-300: #ffafd2;
    --color-magenta-200: #ffd6e8;
    --color-magenta-100: #fff0f7;
    --color-purple-10000: #1c0f30;
    --color-purple-900: #31135e;
    --color-purple-800: #491d8b;
    --color-purple-700: #6929c4;
    --color-purple-600: #8a3ffc;
    --color-purple-500: #a56eff;
    --color-purple-400: #be95ff;
    --color-purple-300: #d4bbff;
    --color-purple-200: #e8daff;
    --color-purple-100: #f6f2ff;
    --color-blue-100: #edf5ff;
    --color-blue-200: #d0e2ff;
    --color-blue-300: #a6c8ff;
    --color-blue-400: #78a9ff;
    --color-blue-500: #4589ff;
    --color-blue-600: #0f62fe;
    --color-blue-700: #0043ce;
    --color-blue-800: #002d9c;
    --color-blue-900: #001d6c;
    --color-blue-10000: #001141;
    --color-cyan-100: #e5f6ff;
    --color-cyan-200: #bae6ff;
    --color-cyan-300: #82cfff;
    --color-cyan-400: #33b1ff;
    --color-cyan-500: #1192e8;
    --color-cyan-600: #0072c3;
    --color-cyan-700: #00539a;
    --color-cyan-800: #003a6d;
    --color-cyan-900: #012749;
    --color-cyan-10000: #061727;
    --color-teal-100: #d9fbfb;
    --color-teal-200: #9ef0f0;
    --color-teal-300: #3ddbd9;
    --color-teal-400: #08bdba;
    --color-teal-500: #009d9a;
    --color-teal-600: #007d79;
    --color-teal-700: #005d5d;
    --color-teal-800: #004144;
    --color-teal-900: #022b30;
    --color-teal-10000: #081a1c;
    --color-green-100: #defbe6;
    --color-green-200: #a7f0ba;
    --color-green-300: #6fdc8c;
    --color-green-400: #42be65;
    --color-green-500: #24a148;
    --color-green-600: #198038;
    --color-green-700: #0e6027;
    --color-green-800: #044317;
    --color-green-900: #022d0d;
    --color-green-10000: #071908;
    --color-coolGray-100: #f2f4f8;
    --color-coolGray-200: #dde1e6;
    --color-coolGray-300: #c1c7cd;
    --color-coolGray-400: #a2a9b0;
    --color-coolGray-500: #878d96;
    --color-coolGray-600: #697077;
    --color-coolGray-700: #4d5358;
    --color-coolGray-800: #343a3f;
    --color-coolGray-900: #21272a;
    --color-coolGray-10000: #121619;
    --color-gray-100: #f4f4f4;
    --color-gray-200: #e0e0e0;
    --color-gray-300: #c6c6c6;
    --color-gray-400: #a8a8a8;
    --color-gray-500: #8d8d8d;
    --color-gray-600: #6f6f6f;
    --color-gray-700: #525252;
    --color-gray-800: #393939;
    --color-gray-900: #262626;
    --color-gray-10000: #161616;
    --color-warmGray-100: #f7f3f2;
    --color-warmGray-200: #e5e0df;
    --color-warmGray-300: #cac5c4;
    --color-warmGray-400: #ada8a8;
    --color-warmGray-500: #8f8b8b;
    --color-warmGray-600: #726e6e;
    --color-warmGray-700: #565151;
    --color-warmGray-800: #3c3838;
    --color-warmGray-900: #272525;
    --color-warmGray-10000: #171414;
}