.Section {
  border-bottom: 2px dotted #000;
  padding: 20px;
}
.SubSection {
  padding: 10px;
}
.SectionHeading {
  font-size: 3rem;
  border-bottom: 5px dotted rgb(110, 110, 110);
  padding: 1em;
  margin-bottom: 2em;
}
.SectionHeading2 {
  font-size: 2rem;
  padding: 0.5em;
  margin-bottom: 1em;
  border-width: 2px;
}
