/**
    Normalizing css
*/
*,
*::after,
*::before {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  /* margin: 0px;
  padding: 0px;
  border-width: 0px;
  font: inherit;
  vertical-align: baseline; */
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
    Tokens
*/

:root {
  /* Spacing tokens */
  --spacing--xxs: 0.125rem; /* xxs */
  --spacing--xs: 0.25rem; /* xs */
  --spacing--gutter: 0.5rem; /* gutter */
  --spacing--sm: 0.75rem; /* sm */
  --spacing--md: 1rem; /* md  */
  --spacing--lg: 1.5rem; /* lg */
  --spacing--xl: 2rem; /* xl */
  --spacing--xxl: 2.5rem; /* xxl */
  --spacing--09: 3rem; /* f**k! I need more names */
  --spacing--10: 4rem;
  --spacing--11: 5rem;
  --spacing--12: 6rem;
  --spacing--13: 10rem;
  /* Color */
  --color-red-100: #2d0709;
  --color-red-90: #520408;
  --color-red-80: #750e13;
  --color-red-70: #a2191f;
  --color-red-60: #da1e28;
  --color-red-50: #fa4d56;
  --color-red-40: #ff8389;
  --color-red-30: #ffb3b8;
  --color-red-20: #ffd7d9;
  --color-red-10: #fff1f1;

  --color-yellow-30: #f1c21b;
  --color-yellow-40: #d2a106;
  --color-yellow-50: #b28600;

  --color-orange-30: #ff832b;
  --color-orange-40: #ba4e00;
  --color-orange-50: #8a3800;

  --color-magenta-100: #2a0a18;
  --color-magenta-90: #510224;
  --color-magenta-80: #740937;
  --color-magenta-70: #9f1853;
  --color-magenta-60: #d02670;
  --color-magenta-50: #ee5396;
  --color-magenta-40: #ff7eb6;
  --color-magenta-30: #ffafd2;
  --color-magenta-20: #ffd6e8;
  --color-magenta-10: #fff0f7;

  --color-purple-100: #1c0f30;
  --color-purple-90: #31135e;
  --color-purple-80: #491d8b;
  --color-purple-70: #6929c4;
  --color-purple-60: #8a3ffc;
  --color-purple-50: #a56eff;
  --color-purple-40: #be95ff;
  --color-purple-30: #d4bbff;
  --color-purple-20: #e8daff;
  --color-purple-10: #f6f2ff;

  --color-blue-10: #edf5ff;
  --color-blue-20: #d0e2ff;
  --color-blue-30: #a6c8ff;
  --color-blue-40: #78a9ff;
  --color-blue-50: #4589ff;
  --color-blue-60: #0f62fe;
  --color-blue-70: #0043ce;
  --color-blue-80: #002d9c;
  --color-blue-90: #001d6c;
  --color-blue-100: #001141;

  --color-cyan-10: #e5f6ff;
  --color-cyan-20: #bae6ff;
  --color-cyan-30: #82cfff;
  --color-cyan-40: #33b1ff;
  --color-cyan-50: #1192e8;
  --color-cyan-60: #0072c3;
  --color-cyan-70: #00539a;
  --color-cyan-80: #003a6d;
  --color-cyan-90: #012749;
  --color-cyan-100: #061727;

  --color-teal-10: #d9fbfb;
  --color-teal-20: #9ef0f0;
  --color-teal-30: #3ddbd9;
  --color-teal-40: #08bdba;
  --color-teal-50: #009d9a;
  --color-teal-60: #007d79;
  --color-teal-70: #005d5d;
  --color-teal-80: #004144;
  --color-teal-90: #022b30;
  --color-teal-100: #081a1c;

  --color-green-10: #defbe6;
  --color-green-20: #a7f0ba;
  --color-green-30: #6fdc8c;
  --color-green-40: #42be65;
  --color-green-50: #24a148;
  --color-green-60: #198038;
  --color-green-70: #0e6027;
  --color-green-80: #044317;
  --color-green-90: #022d0d;
  --color-green-100: #071908;

  --color-coolGray-10: #f2f4f8;
  --color-coolGray-20: #dde1e6;
  --color-coolGray-30: #c1c7cd;
  --color-coolGray-40: #a2a9b0;
  --color-coolGray-50: #878d96;
  --color-coolGray-60: #697077;
  --color-coolGray-70: #4d5358;
  --color-coolGray-80: #343a3f;
  --color-coolGray-90: #21272a;
  --color-coolGray-100: #121619;

  --color-gray-10: #f4f4f4;
  --color-gray-20: #e0e0e0;
  --color-gray-30: #c6c6c6;
  --color-gray-40: #a8a8a8;
  --color-gray-50: #8d8d8d;
  --color-gray-60: #6f6f6f;
  --color-gray-70: #525252;
  --color-gray-80: #393939;
  --color-gray-90: #262626;
  --color-gray-100: #161616;

  --color-warmGray-10: #f7f3f2;
  --color-warmGray-20: #e5e0df;
  --color-warmGray-30: #cac5c4;
  --color-warmGray-40: #ada8a8;
  --color-warmGray-50: #8f8b8b;
  --color-warmGray-60: #726e6e;
  --color-warmGray-70: #565151;
  --color-warmGray-80: #3c3838;
  --color-warmGray-90: #272525;
  --color-warmGray-100: #171414;
}

/* pading */
.ui-u-padding--xxs {
  padding: calc(var(--spacing-xxs));
}
.ui-u-padding--xs {
  padding: calc(var(--spacing--xs));
}
.ui-u-padding--gutter {
  padding: calc(var(--spacing--gutter));
}
.ui-u-padding--sm {
  padding: calc(var(--spacing--sm));
}
.ui-u-padding--md {
  padding: calc(var(--spacing--md));
}
.ui-u-padding--lg {
  padding: calc(var(--spacing--lg));
}
.ui-u-padding--xl {
  padding: calc(var(--spacing--xl));
}
.ui-u-padding--xxl {
  padding: calc(var(--spacing--xxl));
}

.ui-u-paddingTop--xxs {
  padding-top: calc(var(--spacing-xxs));
}
.ui-u-paddingTop--xs {
  padding-top: calc(var(--spacing--xs));
}
.ui-u-paddingTop--gutter {
  padding-top: calc(var(--spacing--gutter));
}
.ui-u-paddingTop--sm {
  padding-top: calc(var(--spacing--sm));
}
.ui-u-paddingTop--md {
  padding-top: calc(var(--spacing--md));
}
.ui-u-paddingTop--lg {
  padding-top: calc(var(--spacing--lg));
}
.ui-u-paddingTop--xl {
  padding-top: calc(var(--spacing--xl));
}
.ui-u-paddingTop--xxl {
  padding-top: calc(var(--spacing--xxl));
}

.ui-u-paddingRight--xxs {
  padding-right: calc(var(--spacing-xxs));
}
.ui-u-paddingRight--xs {
  padding-right: calc(var(--spacing--xs));
}
.ui-u-paddingRight--gutter {
  padding-right: calc(var(--spacing--gutter));
}
.ui-u-paddingRight--sm {
  padding-right: calc(var(--spacing--sm));
}
.ui-u-paddingRight--md {
  padding-right: calc(var(--spacing--md));
}
.ui-u-paddingRight--lg {
  padding-right: calc(var(--spacing--lg));
}
.ui-u-paddingRight--xl {
  padding-right: calc(var(--spacing--xl));
}
.ui-u-paddingRight--xxl {
  padding-right: calc(var(--spacing--xxl));
}

.ui-u-paddingBottom--xxs {
  padding-bottom: calc(var(--spacing-xxs));
}
.ui-u-paddingBottom--xs {
  padding-bottom: calc(var(--spacing--xs));
}
.ui-u-paddingBottom--gutter {
  padding-bottom: calc(var(--spacing--gutter));
}
.ui-u-paddingBottom--sm {
  padding-bottom: calc(var(--spacing--sm));
}
.ui-u-paddingBottom--md {
  padding-bottom: calc(var(--spacing--md));
}
.ui-u-paddingBottom--lg {
  padding-bottom: calc(var(--spacing--lg));
}
.ui-u-paddingBottom--xl {
  padding-bottom: calc(var(--spacing--xl));
}
.ui-u-paddingBottom--xxl {
  padding-bottom: calc(var(--spacing--xxl));
}

.ui-u-paddingLeft--xxs {
  padding-left: calc(var(--spacing-xxs));
}
.ui-u-paddingLeft--xs {
  padding-left: calc(var(--spacing--xs));
}
.ui-u-paddingLeft--gutter {
  padding-left: calc(var(--spacing--gutter));
}
.ui-u-paddingLeft--sm {
  padding-left: calc(var(--spacing--sm));
}
.ui-u-paddingLeft--md {
  padding-left: calc(var(--spacing--md));
}
.ui-u-paddingLeft--lg {
  padding-left: calc(var(--spacing--lg));
}
.ui-u-paddingLeft--xl {
  padding-left: calc(var(--spacing--xl));
}
.ui-u-paddingLeft--xxl {
  padding-left: calc(var(--spacing--xxl));
}

.ui-u-paddingX--xxs {
  padding-left: calc(var(--spacing-xxs));
  padding-right: calc(var(--spacing-xxs));
}
.ui-u-paddingX--xs {
  padding-left: calc(var(--spacing--xs));
  padding-right: calc(var(--spacing--xs));
}
.ui-u-paddingX--gutter {
  padding-left: calc(var(--spacing--gutter));
  padding-right: calc(var(--spacing--gutter));
}
.ui-u-paddingX--sm {
  padding-left: calc(var(--spacing--sm));
  padding-right: calc(var(--spacing--sm));
}
.ui-u-paddingX--md {
  padding-left: calc(var(--spacing--md));
  padding-right: calc(var(--spacing--md));
}
.ui-u-paddingX--lg {
  padding-left: calc(var(--spacing--lg));
  padding-right: calc(var(--spacing--lg));
}
.ui-u-paddingX--xl {
  padding-left: calc(var(--spacing--xl));
  padding-right: calc(var(--spacing--xl));
}
.ui-u-paddingX--xxl {
  padding-left: calc(var(--spacing--xxl));
  padding-right: calc(var(--spacing--xxl));
}

.ui-u-paddingY--xxs {
  padding-top: calc(var(--spacing-xxs));
  padding-bottom: calc(var(--spacing-xxs));
}
.ui-u-paddingY--xs {
  padding-top: calc(var(--spacing--xs));
  padding-bottom: calc(var(--spacing--xs));
}
.ui-u-paddingY--gutter {
  padding-top: calc(var(--spacing--gutter));
  padding-bottom: calc(var(--spacing--gutter));
}
.ui-u-paddingY--sm {
  padding-top: calc(var(--spacing--sm));
  padding-bottom: calc(var(--spacing--sm));
}
.ui-u-paddingY--md {
  padding-top: calc(var(--spacing--md));
  padding-bottom: calc(var(--spacing--md));
}
.ui-u-paddingY--lg {
  padding-top: calc(var(--spacing--lg));
  padding-bottom: calc(var(--spacing--lg));
}
.ui-u-paddingY--xl {
  padding-top: calc(var(--spacing--xl));
  padding-bottom: calc(var(--spacing--xl));
}
.ui-u-paddingY--xxl {
  padding-top: calc(var(--spacing--xxl));
  padding-bottom: calc(var(--spacing--xxl));
}

/* Margin */
.ui-u-margin--xxs {
  margin: calc(var(--spacing-xxs));
}
.ui-u-margin--xs {
  margin: calc(var(--spacing--xs));
}
.ui-u-margin--gutter {
  margin: calc(var(--spacing--gutter));
}
.ui-u-margin--sm {
  margin: calc(var(--spacing--sm));
}
.ui-u-margin--md {
  margin: calc(var(--spacing--md));
}
.ui-u-margin--lg {
  margin: calc(var(--spacing--lg));
}
.ui-u-margin--xl {
  margin: calc(var(--spacing--xl));
}
.ui-u-margin--xxl {
  margin: calc(var(--spacing--xxl));
}

.ui-u-marginTop--xxs {
  margin-top: calc(var(--spacing-xxs));
}
.ui-u-marginTop--xs {
  margin-top: calc(var(--spacing--xs));
}
.ui-u-marginTop--gutter {
  margin-top: calc(var(--spacing--gutter));
}
.ui-u-marginTop--sm {
  margin-top: calc(var(--spacing--sm));
}
.ui-u-marginTop--md {
  margin-top: calc(var(--spacing--md));
}
.ui-u-marginTop--lg {
  margin-top: calc(var(--spacing--lg));
}
.ui-u-marginTop--xl {
  margin-top: calc(var(--spacing--xl));
}
.ui-u-marginTop--xxl {
  margin-top: calc(var(--spacing--xxl));
}

.ui-u-marginRight--xxs {
  margin-right: calc(var(--spacing-xxs));
}
.ui-u-marginRight--xs {
  margin-right: calc(var(--spacing--xs));
}
.ui-u-marginRight--gutter {
  margin-right: calc(var(--spacing--gutter));
}
.ui-u-marginRight--sm {
  margin-right: calc(var(--spacing--sm));
}
.ui-u-marginRight--md {
  margin-right: calc(var(--spacing--md));
}
.ui-u-marginRight--lg {
  margin-right: calc(var(--spacing--lg));
}
.ui-u-marginRight--xl {
  margin-right: calc(var(--spacing--xl));
}
.ui-u-marginRight--xxl {
  margin-right: calc(var(--spacing--xxl));
}

.ui-u-marginBottom--xxs {
  margin-bottom: calc(var(--spacing-xxs));
}
.ui-u-marginBottom--xs {
  margin-bottom: calc(var(--spacing--xs));
}
.ui-u-marginBottom--gutter {
  margin-bottom: calc(var(--spacing--gutter));
}
.ui-u-marginBottom--sm {
  margin-bottom: calc(var(--spacing--sm));
}
.ui-u-marginBottom--md {
  margin-bottom: calc(var(--spacing--md));
}
.ui-u-marginBottom--lg {
  margin-bottom: calc(var(--spacing--lg));
}
.ui-u-marginBottom--xl {
  margin-bottom: calc(var(--spacing--xl));
}
.ui-u-marginBottom--xxl {
  margin-bottom: calc(var(--spacing--xxl));
}

.ui-u-marginLeft--xxs {
  margin-left: calc(var(--spacing-xxs));
}
.ui-u-marginLeft--xs {
  margin-left: calc(var(--spacing--xs));
}
.ui-u-marginLeft--gutter {
  margin-left: calc(var(--spacing--gutter));
}
.ui-u-marginLeft--sm {
  margin-left: calc(var(--spacing--sm));
}
.ui-u-marginLeft--md {
  margin-left: calc(var(--spacing--md));
}
.ui-u-marginLeft--lg {
  margin-left: calc(var(--spacing--lg));
}
.ui-u-marginLeft--xl {
  margin-left: calc(var(--spacing--xl));
}
.ui-u-marginLeft--xxl {
  margin-left: calc(var(--spacing--xxl));
}

.ui-u-marginX--xxs {
  margin-left: calc(var(--spacing-xxs));
  margin-right: calc(var(--spacing-xxs));
}
.ui-u-marginX--xs {
  margin-left: calc(var(--spacing--xs));
  margin-right: calc(var(--spacing--xs));
}
.ui-u-marginX--gutter {
  margin-left: calc(var(--spacing--gutter));
  margin-right: calc(var(--spacing--gutter));
}
.ui-u-marginX--sm {
  margin-left: calc(var(--spacing--sm));
  margin-right: calc(var(--spacing--sm));
}
.ui-u-marginX--md {
  margin-left: calc(var(--spacing--md));
  margin-right: calc(var(--spacing--md));
}
.ui-u-marginX--lg {
  margin-left: calc(var(--spacing--lg));
  margin-right: calc(var(--spacing--lg));
}
.ui-u-marginX--xl {
  margin-left: calc(var(--spacing--xl));
  margin-right: calc(var(--spacing--xl));
}
.ui-u-marginX--xxl {
  margin-left: calc(var(--spacing--xxl));
  margin-right: calc(var(--spacing--xxl));
}

.ui-u-marginY--xxs {
  margin-top: calc(var(--spacing-xxs));
  margin-bottom: calc(var(--spacing-xxs));
}
.ui-u-marginY--xs {
  margin-top: calc(var(--spacing--xs));
  margin-bottom: calc(var(--spacing--xs));
}
.ui-u-marginY--gutter {
  margin-top: calc(var(--spacing--gutter));
  margin-bottom: calc(var(--spacing--gutter));
}
.ui-u-marginY--sm {
  margin-top: calc(var(--spacing--sm));
  margin-bottom: calc(var(--spacing--sm));
}
.ui-u-marginY--md {
  margin-top: calc(var(--spacing--md));
  margin-bottom: calc(var(--spacing--md));
}
.ui-u-marginY--lg {
  margin-top: calc(var(--spacing--lg));
  margin-bottom: calc(var(--spacing--lg));
}
.ui-u-marginY--xl {
  margin-top: calc(var(--spacing--xl));
  margin-bottom: calc(var(--spacing--xl));
}
.ui-u-marginY--xxl {
  margin-top: calc(var(--spacing--xxl));
  margin-bottom: calc(var(--spacing--xxl));
}

/* Elevation */
/* elevation utiltiy */
.ui-u-elevation--base {
  z-index: 0;
}
.ui-u-elevation--flat {
  z-index: 1;
}
.ui-u-elevation--raised {
  z-index: 2;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.ui-u-elevation--overlay {
  z-index: 8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}
.ui-u-elevation--sticky-nav {
  z-index: 12;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.1);
}
.ui-u-elevation--temp-nav {
  z-index: 16;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}
.ui-u-elevation--pop-out {
  z-index: 24;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
}

/* Cursor */
.ui-u-cursor--not-allowed {
  cursor: not-allowed;
}

.ui-u-cursor--pointer {
  cursor: pointer;
}
