/* 1 */

.div-bg--aliceblue {
  background-color: aliceblue;
}

/* 2 */

.div-bg--aqua {
  background-color: aqua
}

/* 3 */

.div-bg--blue {
  background-color: blue
}

/* 4 */

.div-bg--blueviolet {
  background-color: blueviolet
}

/* 5 */

.div-bg--brown {
  background-color: brown;
}

/* 6 */

.div-bg--chartreuse {
  background-color: chartreuse;
}

/* 7 */

.div-bg--chocolate {
  background-color: chocolate;
}

/* 8 */

.div-bg--crimson {
  background-color: crimson;
}

/* 9 */

.div-bg--gold {
  background-color: gold;
}

/* 10 */

.div-bg--orange {
  background-color: orange;
}

/* 11 */

.div-bg--teal {
  background-color: teal;
}

/* 12 */

.div-bg--plum {
  background-color: plum;
}